#sub_btn
{
    margin-top: 20px;
    margin-bottom: 20px;
}

#sort_btn
{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

input{
    margin: 10px;
}

body {
     background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-s104-0372.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=e1b1ad4ae2db4690837a34ecfeee1b7b");
     font-family: cursive;
     padding-top: 180px;
     font-size: 22px;
     color: white;
     background-size:cover;
}